@inherits LayoutComponentBase

<div class="sidebar">
    @if (isEmployee)
    {
        <NavMenu />
    }
    else
    {
        <NavMenu2 />
    }
</div>

<div class="container">
    @Body
</div>

<footer class="container">
    <hr>
    Hire Employees
</footer>

@code{
    bool isEmployee = false;
}