@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: Open Sans;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .row {
        display: flex;
    }

        .row > div {
            flex: 1;
            border: 0px solid grey;
        }

    /*Navbar*/

    .nav-right{
        line-height:60px;
    }

    /* Index*/
    .profile-progress {
    }

    .index-skills {
        font-size: 20px;
        line-height: 30px;
    }

    .oi-circle-x {
        font-size:30px;
        color: red;
    }

        .oi-circle-x:hover {
            color: black;
        }

    .oi-cog {
        font-size: 30px;
        color: darkorange;
    }

        .oi-cog:hover {
            color: black;
        }

    /*Edit Profile*/

    .edu-history {
        float: left;
        width: 100%;
        display: table;
        margin-bottom: 20px;
        position: relative;
    }

        .edu-history > i {
            display: table-cell;
            vertical-align: top;
            width: 70px;
            font-size: 50px;
            color: #fb236a;
            line-height: 60px;
        }

            .edu-history > i > span {
                margin-top: 10px;
            }

    .edu-history-info {
        display: table-cell;
        vertical-align: top;
    }

        .edu-history-info > h3 {
            float: left;
            width: 100%;
            font-size: 16px;
            color: #8b91dd;
            margin: 0;
            margin-top: 0px;
            margin-top: 10px;
        }

        .edu-history-info > i {
            float: left;
            width: 100%;
            font-style: normal;
            font-size: 13px;
            color: #888888;
            margin-top: 7px;
        }

        .edu-history-info > span {
            float: left;
            width: 100%;
            font-size: 15px;
            color: #202020;
            margin-top: 8px;
        }

            .edu-history-info > span i {
                font-size: 13px;
                color: #888888;
                font-style: normal;
                margin-left: 12px;
            }

        .edu-history-info > p {
            float: left;
            width: 100%;
            margin: 0;
            font-size: 13px;
            color: #888888;
            font-style: normal;
            line-height: 24px;
            margin-top: 10px;
        }

    .work-history {
        margin: 0;
        padding-bottom: 20px;
        position: relative;
        padding-left: 40px;
        margin-bottom: 24px;
        padding-bottom: 0;
    }

        .work-history > i {
            position: absolute;
            left: 0;
            top: 0;
            width: 16px;
            height: 16px;
            border: 2px solid #8b91dd;
            content: "";
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
        }

        .work-history .edu-history-info > h3 {
            margin: 0;
        }

        .work-history::before {
            position: absolute;
            left: 7px;
            top: 20px;
            width: 2px;
            height: 100%;
            content: "";
            background: #e8ecec;
        }

        .work-history:last-child::before {
            display: none;
        }

        .work-history .edu-history-info > h3 span {
            color: #202020;
            margin-left: 10px;
        }
}
