@page "/s"

<h1>Welcome, Company X !</h1>



<div class="container">
    <div class="row">
        <div class="col-sm">
            @*<div class="x">
                    <a>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/1200px-SNice.svg.png" width="70" height="70" style="display: block;
                    margin-left: auto;
                    margin-right: auto;
                    position:inherit;
                    top:50px;" />
                    </a>
                    img.filter-image {
                display: block;
                margin-left: auto;
                margin-right: auto;
                }
                </div>*@

            <div class="card" style="width: 18rem;">
                <a>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR-2ISnlrqQh6scHBMkCgUro6mAnX5D850M4qHblF1zcX8FpsA1" width="70" height="70 " style="display: block;
                margin-left: auto;
                margin-right: auto;">
                </a>
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">COMPANY X</h5>
                    <p class="card-text">
                        We are the best.
                        Web Development 

                    </p>
                    <a href="#" class="btn btn-primary disabled">Go somewhere</a>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <h1 style="text-align:center">ABOUT US</h1>
            We are the company X.<br />
            We use technologies like X.<br />
            We are the future.<br />
            
        </div>
        <div class="col-sm">
            <h5 style="text-align:center">Your Company's Open Positions</h5>
            <ul class="list-group">
                <li class="list-group-item">Position #1</li>
                <li class="list-group-item">Position #2</li>
                <li class="list-group-item">Position #3</li>
                <li class="list-group-item">Position #4</li>
                <li class="list-group-item">Position #5</li>
                <li class="list-group-item">Position #6</li>
                <li class="list-group-item">Position #7</li>
            </ul>
        </div>
    </div>
</div>